--container-architecture linux/amd64
--bind
-s GITHUB_TOKEN=[PROVIDE]
-s GH_USER_TOKEN=[PROVIDE]
-s AWS_ACCOUNT=123456789
-s AWS_ACCESS_KEY_ID=[PROVIDE]
-s AWS_SECRET_ACCESS_KEY=[PROVIDE]
-s AWS_SESSION_TOKEN=[PROVIDE]