node_modules
.DS_Store
QPP_quality_measure_specifications.zip
QPP_quality_measure_specifications
ecqm_eligibleclinician_jan2017.zip
ecqm_eligibleclinician_jan2017
Claims-Registry-Measures.zip
Claims-Registry-Measures
Web-Interface-Measures.zip
.idea/
claims-related/scripts/pycache/**
claims-related/scripts/__pycache__/**
.nyc_output
